@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #1e40af;
  --accent-color: #fcd04a;
  --grey: #999999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.text-primary-color{
  color: var(--primary-color);
}
.text-accent-color{
  color: var(--accent-color);
}
.bg-primary-color{
  background: var(--primary-color);
}
.bg-accent-color{
  background: var(--accent-color);
}

body {
  /* color: rgb(var(--foreground-rgb));
   */
   color: rgb(27, 27, 28);
  background:white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
